{% load static %}
<!Doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'css/basestyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>GetPlaced</title>
    
    <style type="text/css">
        .asteriskField {
            display: none;
        }

        form .alert ul li {
            list-style: none;
        }

        form .alert ul {
            padding: 0;
            margin: 0;
        }

       
.btn-link{
	color: #006600 !important;
}
#aa{
    margin-top:100px;
}

	</style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark mb-4" id="mynav">
        <div class="container">
            <img src="{% static 'images/cap.png' %}" width="50px" height="50px" ><a class="navbar-brand" href="#">GetPlaced</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav mr-auto">
                   
                    
                </ul>
                
                <ul class="navbar-nav">
                   
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="{% url 'login' %}" class="btn btn-light ml-2">Log in</a>
                    <a href="{% url 'ssignup' %}" class="btn btn-outline-light">Sign up</a>
                </form>
                
            </div>
        </div>
    </nav>




<div class="row justify-content-center" >
    <div class="col-6" >
      <div class="card">
        <div class="card-body">
            <div class="container" >
             <form action='{% url 'vlogin' %}' method="POST">
              {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                          <div class="form-group">
                            <label for="Username">Username:</label>
                            <input type="text" class="form-control" id="Username" placeholder="Enter Username" name="Username">
                          </div>
                          <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                          </div>
                </fieldset>
                {% for message in messages %}
                <div class="alert aler-success">
                    <a close="close" href="#" data-dismiss="alert">x</a>
                    {{ message }}
                </div>
                {% endfor %}
                <div class="form-group">
                        <button class="btn btn-outline-success" type="submit">Login</button>
                </div>
        </form>
    </div>
            <!--<a href="{% url 'reset_password' %}" class="btn btn-link">Forgot your password?</a>-->

        </div>
      </div>
    </div>
  </div>
  
 <!--<section class="social-menu">
    
  <h5>For any queries/issues please contact us at:</h5>
  <ul id="aa">

      <li><a href="#"><i class="fa fa-google"></i></a></li>
      <li><a href="#"><i class="fa fa-paper-plane"></i></a></li>
     <li><a href="#"><i class="fa fa-envelope"></i></a></li>
     <li><a href="#"><i class="fa fa-yahoo"></i></a></li>
  </ul>

</section> -->

</body>

</html>