{% load static %}
<!Doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'css/basestyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>GetPlaced</title>
    
    <style type="text/css">
        .asteriskField {
            display: none;
        }

        form .alert ul li {
            list-style: none;
        }

        form .alert ul {
            padding: 0;
            margin: 0;
        }

       
.btn-link{
	color: #006600 !important;
}
.btn-outline-light{
    padding-right: 15px;
    margin: 5px;

}

/* content of the 3 rows */
.col-md-7{
  padding: 20px;

}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.navbar-text{
  float: right;
}
/* img */
.impact{
  height: 100%;
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.impact:hover {
   transform: scale(1.10);
}

.mission{
  transition: 0.5s all ease-in-out;
}

.mission:hover{
  transform: scale(1.10);
}
/* image zooming */

i{
  padding-left: 7.5px;
  padding-right: 7.5px;
}

#sclbtn{
  margin-top: 1100px;
}

.navbar-brand{
  font-size: 30px;
}

	</style>

</head>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js
" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js
" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js
" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
    <nav class="navbar navbar-expand-lg navbar-dark mb-4" id="mynav">
        <div class="container">
            <img src="{% static 'images/cap.png' %}" width="50px" height="50px" ><a class="navbar-brand" href="#">GetPlaced</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav mr-auto">
                   
                    
                </ul>
                
                <ul class="navbar-nav">
                   
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <a href="#" class="btn btn-outline-light">Home</a>
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                        Placement Details
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{%url 'viewplacedetails' %}">
                            <h6 style="color:   #006600;">View Placement Details</h6>
                        </a>
                        <a class="dropdown-item" href="{%url 'addplacedetails' %}">
                            <h6 style="color:  #006600;">Add Placement Details</h6>
                        </a></div></div>
                         <div class="btn-group">
                    <button type="button" class="btn btn-light ml-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                        Placement History
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{%url 'viewplacehis' %}">
                            <h6 style="color:  #006600;">View Placement History</h6>
                        </a>
                        <a class="dropdown-item" href="{%url 'placehis' %}">
                            <h6 style="color:  #006600">Add Placement History</h6>
                        </a></div></div>
                         <div class="btn-group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                        Tips
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'viewsugg' %}">
                            <h6 style="color:  #006600">View Tips</h6>
                        </a>
                        <a class="dropdown-item" href="{% url 'opensugg' %}">
                            <h6 style="color:  #006600">Add Tips</h6>
                        </a></div></div>
                         <a href="{%url 'alogout' %}" class="btn btn-outline-light">Logout</a>
                   
                   
                </form>
               
            </div>
        </div>
    </nav>

                  


<div class="row justify-content-center" >
    <div class="col-6" >
      <div class="card">
        <div class="card-body">
            <div class="container" >
             <form action='{% url 'placehis' %}' method="POST">
              {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add placement history</legend>
                          <div class="form-group">
                            <label for="pyear">Year:</label>
                            <input type="number" class="form-control" id="pyear" placeholder="Enter year" name="pyear">
                          </div>
                          <div class="form-group">
                            <label for="company_name">Company name:</label>
                            <input type="text" class="form-control" id="company_name" placeholder="Enter company name" name="company_name">
                          </div>
                          <div class="form-group">
                            <label for="package">Package:</label>
                            <input type="number" class="form-control" id="package" placeholder="Enter package" name="package">
                          </div>
                          <div class="form-group">
                            <label for="ptype">Type:</label>
                            <input type="text" class="form-control" id="ptype" placeholder="Enter type" name="ptype">
                          </div>
                          <div class="form-group">
                            <label for="students_applied">Number of Students Applied:</label>
                            <input type="number" class="form-control" id="students_applied" placeholder="Enter number of Students Applied" name="students_applied">
                          </div>
                          <div class="form-group">
                            <label for="students_placed">Number of Students placed:</label>
                            <input type="number" class="form-control" id="students_applied" placeholder="Enter number of Students placed" name="students_placed">
                          </div>
    
                </fieldset>
            
                <div class="form-group">
                        <button class="btn btn-outline-success" type="submit">POST</button>
                </div>
        </form>
    </div>
            <!--<a href="#" class="btn btn-link">Forgot your password?</a>-->

        </div>
      </div>
    </div>
  </div>
  
 <!-- <section class="social-menu">
    
  <h5>For any queries/issues please contact us at:</h5>
  <ul>

      <li><a href="#"><i class="fa fa-google"></i></a></li>
      <li><a href="#"><i class="fa fa-paper-plane"></i></a></li>
    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
     <li><a href="#"><i class="fa fa-yahoo"></i></a></li>
  </ul>

</section>  -->

</body>

</html>